### INTRO
The RMS Titanic set sail on its maiden voyage in 1912, crossing the Atlantic from Southampton, England to New York City. The ship never completed the voyage, sinking to the bottom of the Atlantic Ocean after hitting an iceberg, bringing down 1,502 of 2,224 passengers onboard.

In this project you will create a Logistic Regression model that predicts which passengers survived the sinking of the Titanic, based on features like age and class.

#### Load Data
The file passengers.csv contains the data of 892 passengers onboard the Titanic when it sank that fateful day. Let’s begin by loading the data into a pandas DataFrame

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

passengers = pd.read_csv('passengers.csv')
print(passengers)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

#### Data Cleaning
Given the saying, “women and children first,” Sex and Age seem like good features to predict survival. Let’s map the text values in the Sex column to a numerical value. Update Sex such that all values female are replaced with 1 and all values male are replaced with 0.

In [3]:
passengers['Sex'] = passengers['Sex'].map({'male':'0', 'female':'1'})
print(passengers['Sex'])

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: object

Let’s take a look at Age. Print passengers['Age'].values. You can see we have multiple missing values, or nans. Fill all the empty Age values in passengers with the mean age.

In [4]:
passengers['Age'].fillna(value=round(passengers['Age'].mean()), inplace=True)
print(passengers['Age'])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    30.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

Given the strict class system onboard the Titanic, let’s utilize the Pclass column, or the passenger class, as another feature. Create a new column named FirstClass that stores 1 for all passengers in first class and 0 for all other passengers.

In [5]:
passengers['FirstClass'] = passengers['Pclass'].apply(lambda x:1 if x==1 else 0)
print(passengers['Pclass'])

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

Create a new column named SecondClass that stores 1 for all passengers in second class and 0 for all other passengers.

In [6]:
passengers['SecondClass'] = passengers['Pclass'].apply(lambda x:1 if x==2 else 0)
print(passengers['SecondClass'])

0      0
1      0
2      0
3      0
4      0
      ..
886    1
887    0
888    0
889    0
890    0
Name: SecondClass, Length: 891, dtype: int64

#### Select and Split the Data
Now that we have cleaned our data, let’s select the columns we want to build our model on.

In [7]:
features = passengers[['Sex', 'Age', 'FirstClass', 'SecondClass']]
survival = passengers['Survived']

Split the data into training and test sets

In [8]:
train_features, test_features, train_labels, test_labels = train_test_split(features, survival,  test_size=0.2)
print(train_features)

    Sex   Age  FirstClass  SecondClass
889   0  26.0           1            0
620   0  27.0           0            0
466   0  30.0           0            1
832   0  30.0           0            0
713   0  29.0           0            0
..   ..   ...         ...          ...
443   1  28.0           0            1
682   0  20.0           0            0
50    0   7.0           0            0
758   0  34.0           0            0
643   0  30.0           0            0

[712 rows x 4 columns]

#### Normalize Data
Since sklearn‘s Logistic Regression implementation uses Regularization, we need to scale our feature data.

In [9]:
# Scale the feature data so it has mean = 0 and standard deviation = 1
scaler = StandardScaler()
train_features = scaler.fit_transform(train_features)
test_features = scaler.transform(test_features)

#### Create and Evaluate the Model
Create and fit a LogisticRegression model

In [10]:
model = LogisticRegression()
model.fit(train_features, train_labels)

LogisticRegression()

.score() the model on the training data and print the training score.

Scoring the model on the training data will run the data through the model and make final classifications on survival for each passenger in the training set. The score returned is the percentage of correct classifications, or the accuracy.

In [11]:
print("Training set score:", model.score(train_features, train_labels))
print("Testing set score:", model.score(test_features, test_labels))

Training set score: 0.7851123595505618
Testing set score: 0.8212290502793296

Print the feature coefficients determined by the model. Which feature is most important in predicting survival on the sinking of the Titanic?

In [12]:
print(list(zip(['Sex','Age','FirstClass','SecondClass'],model.coef_[0])))

[('Sex', 1.1771766916411093), ('Age', -0.3734541307604213), ('FirstClass', 0.8618854225626627), ('SecondClass', 0.41492364748408833)]

#### Predict with the Model
Let’s use our model to make predictions on the survival of a few fateful passengers. Provided in the code editor is information for 3rd class passenger Jack and 1st class passenger Rose, stored in NumPy arrays. The arrays store 4 feature values, in the following order:

Sex, represented by a 0 for male and 1 for female
Age, represented as an integer in years
FirstClass, with a 1 indicating the passenger is in first class
SecondClass, with a 1 indicating the passenger is in second class
A third array, You, is also provided in the code editor with empty feature values. Uncomment the line containing You and update the array with your information, or the information for some fictitious passenger. Make sure to enter all values as floats with a .!

In [13]:
Jack = np.array([0.0,20.0,0.0,0.0])
Rose = np.array([1.0,17.0,1.0,0.0])
You = np.array([0.0,18.0,0.0,0.0])

Combine Jack, Rose, and You into a single NumPy array.

In [14]:
sample_passengers = np.array([Jack, Rose, You])

Since our Logistic Regression model was trained on scaled feature data, we must also scale the feature data we are making predictions on.

In [15]:
sample_passengers = scaler.transform(sample_passengers)
print(sample_passengers)

[[-0.7265652  -0.75191842 -0.55355399 -0.5383819 ]
 [ 1.37633896 -0.98079693  1.80650853 -0.5383819 ]
 [-0.7265652  -0.9045041  -0.55355399 -0.5383819 ]]

Who will survive, and who will sink? Use your model’s .predict() method on sample_passengers and print the result to find out.

In [16]:
print(model.predict(sample_passengers))
print(model.predict_proba(sample_passengers))

[0 1 0]
[[0.87019492 0.12980508]
 [0.06342416 0.93657584]
 [0.86362139 0.13637861]]